@import url('https://fonts.googleapis.com/css2?family=Poppins'); 
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Manrope:wght@300&family=Poppins:ital,wght@0,300;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
    sans-serif;

}
#image1{
    width: 506px;
    height: 310px;
    border-radius: 5px;

}
#image2{
    width: 506px;
    height: 306px;
    border-radius: 5px;
}
#image3,#image4,#image5,#image6{
    width: 336px;
    height: 262px;
}

.navbar{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    color: whitesmoke;
} 
.nav-links{
    display: flex;
    align-items: center;
}
.active{
    color: #c2ce1a; 
    text-decoration: underline;
    font-weight: bold;
}
body,html{
    overflow-x: hidden;
}
ul{
    list-style: none;
}
.nav-links li{
    margin: 0 30px;
}
#logo{
    width: 120px;
    height: 120px;
}
header{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(rgba(59, 49, 4, 0.75), rgba(0, 0, 0, 0.75)),
    url("./assets/campus.jpg");
    background-position: bottom;
  
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
} 
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
    margin-bottom: 40px;

}
.line{
    width:170px;
    height: 4px;
    background: #c2ce1a;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{ 
    font-size: 7vwin;
    margin-top: 50px; 
    margin-bottom: 20px;

}
#ctn{
    padding: 8px 15px;
    background: #c2ce1a;
    border-radius: 30px;
    color: whitesmoke;

}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
section{
    width: 80%;
    margin:110px auto; 

}
.title{
    text-align: center;
    font-size: 4win;
    color:#181a03; 

}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;

}
.events .row{
    margin-top: 50px;
}
h4{
    font-size: 3win;
    color: #484872;
    margin: 20px auto;
}
p{
    color: #7c7c7c;
    padding: 0px 40px;
}
.events #ctn{
    margin-top: 60px;

}
.explore{
    width: 100%;
    height: 100vh;
    background-image:url("./assets/IIM-Social-media-Twiter-01.jpg");
  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
}
.image-gallery img{
    width: 300px;
}
.tours .row .col{
    width: 50%;
}

@media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction:column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(28, 34, 22);
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;

    }
    .nav-links li{ 
        margin: 30px auto;

    }
}